{% extends 'base.html.twig' %}

{% block title %}Films!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em 30px;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

    </style>





        <h1 style="margin-bottom: 80px;margin-top:25px;">Liste des films à l'affiche</h1>



            <div class="row  row-cols-lg-3 g-5">
                {% for film in films %}
                <div class="card" style="">
                    <img class="card-img-top img-thumbnail" src="{{ asset('/images/cinema.jpg') }}" alt="Card image">
                    <div class="card-body">
                        <h5 class="card-title">{{ film.titre }}</h5>
                        <p>Id : {{ film.id }}</p>
                        <p>Durée : {{ film.duree | format_datetime(pattern='HH:mm:ss')}}</p>
                        <a class="btn btn-primary mt-2" href="http://127.0.0.1:8001/films/{{ film.id }}">Voir plus</a>
                    </div>
                </div>



            {% endfor %}

        </div>






{% endblock %}
